/* 콜백 페이지 전용 스타일 */
body {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
    padding: 0;
    text-align: center;
}

.spinner {
    margin-bottom: 20px;
}

.loading {
    display: flex !important;
}